<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link href="/css/createProducts.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
      crossorigin="anonymous" referrerpolicy="no-referrer" rel="stylesheet"/>
    <title>CREACIÓN DE PRODUCTOS</title>
</head>
<body>

    <!-------- MENU DE NAVEGACIÓN -------->
    <%- include("./partials/header.ejs")%>

    <section class="background">

        <div class="box">
            <form action="/products/productDetail/createProducts" method="post" enctype="multipart/form-data">
    
                <!----CAJA DE FORMULARIO----->
                
                <div class="form">
    
                    <h2>Agregar Productos</h2>
    
                    <div class="inputBox">
                        <input placeholder="Nombre" type="text" name="name">
                        <i></i>
                    </div>
                    <% if (locals.errors && errors.name) { %>
                        <div class="Qerrors">
                            <%= errors.name.msg %> 
                        </div>
                    <% } %>
    
                    <div class="inputBox">
                        <input placeholder="Descripción" type="text" name="description">
                        <i></i>                        
                    </div>
                    <% if (locals.errors && errors.description) { %>
                        <div class="Qerrors">
                            <%= errors.description.msg %> 
                        </div>
                    <% } %>
    
                    <div class="inputImage">
                        <div>
                            <label for="imagen">Imagen 1</label>
                            <input type="file" name="imagen">
                            <% if (locals.errors && errors.imagen) { %>
                                <div class="Qerrors">
                                    <%= errors.imagen.msg %> 
                                </div>
                            <% } %>
                        </div>
                    </div>
    
                    <div class="inputImage">
                        <div>
                            <label for="imagen">Imagen 2</label>
                            <input type="file" name="imagen">
                            <% if (locals.errors && errors.imagen) { %>
                                <div class="Qerrors">
                                    <%= errors.imagen.msg %> 
                                </div>
                            <% } %>
                        </div>
                    </div>
    
                    <div class="inputImage">
                        <div>
                            <label for="imagen">Imagen 3</label>
                            <input type="file" name="imagen">
                            <% if (locals.errors && errors.imagen) { %>
                                <div class="Qerrors">
                                    <%= errors.imagen.msg %> 
                                </div>
                            <% } %>
                        </div>
                    </div>
    
                    <div class="inputImage">
                        <div>
                            <label for="imagen">Imagen 4</label>
                            <input type="file" name="imagen">
                            <% if (locals.errors && errors.imagen) { %>
                                <div class="Qerrors">
                                    <%= errors.imagen.msg %> 
                                </div>
                            <% } %>
                        </div>
                    </div>
    
                    <div class="inputSelect">
                        <select name="categoria">
                            <% categoria.forEach(categoria => { %>
                                <option value="<%= categoria.idCategoria %>"><%= categoria.Categoria %></option>
                            <% }); %>
                        </select>
                    </div>
    
                    <div class="inputBox">
                        <input placeholder="Color 1" type="text" name="color1">
                        <i></i>                        
                    </div>
                    <% if (locals.errors && errors.color1) { %>
                        <div class="Qerrors">
                            <%= errors.color1.msg %> 
                        </div>
                    <% } %>
    
                    <div class="inputBox">
                        <input placeholder="Color2" type="text" name="color2">
                        <i></i>                        
                    </div>
                    <% if (locals.errors && errors.color2) { %>
                        <div class="Qerrors">
                            <%= errors.color2.msg %> 
                        </div>
                    <% } %>
    
                    <div class="inputBox">
                        <input placeholder="Precio" type="text" name="precio">
                        <i></i>                        
                    </div>
                    <% if (locals.errors && errors.precio) { %>
                        <div class="Qerrors">
                            <%= errors.precio.msg %> 
                        </div>
                    <% } %>
    
                    <!-------- BOTONES -------->
    
                    <input type="submit" value="Cargar Producto">
    
                </div>
    
            </form>
    
        </div>
    
    </section>
    
     <!--- FOOTER: PIE DE PÁGINA --->
     <%- include("./partials/footer.ejs")%>
</body>
</html>