<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Bienvenido a Global Tech</title>
</head>
<body>
    <!-------- MENU DE NAVEGACIÓN -------->
    <%- include("./partials/header.ejs")%>

    <!-------- REDES SOCIALES -------->
    <%- include("./partials/social.ejs")%>

    <!-------- SLIDE -------->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/images_index/slide-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/images_index/slide-2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/images_index/slide-3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/images_index/slide-1.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

    <!-------- SECCIÓN PRINCIPAL -------->
    <section class="SseccionPrincipalHome">
        <h1><i class="fa-solid fa-gamepad-modern"></i>CATEGORÍAS DE PRODUCTOS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita. Aspernatur architecto excepturi iste maxime ipsam.</p>
    </section>

    <!-------- SECCIÓN PRODUCTOS DESTACADOS -------->
    <div class="ScategoriasDestacadas">
        <div class="Scategoria">
            <a href="/products#perifericos">
                <img src="images/images_index/headset.png" alt="Icono perifericos">
                <p>Periféricos</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#portatiles">
                <img src="images/images_index/gaming.png" alt="Icono laptop">
                <p>Portatiles</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#hardware">
                <img src="images/images_index/graphic-card.png" alt="Tarjeta grafica">
                <p>GPU</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#perifericos">
                <img src="images/images_index/keyboard.png" alt="Teclado">
                <p>Teclados</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#consolas">
                <img src="images/images_index/console.png" alt="Consola">
                <p>Consolas</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#celulares">
                <img src="images/images_index/mobile-game.png" alt="Celular gamer">
                <p>Celulares</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#perifericos">
                <img src="images/images_index/Screen.png" alt="Pantalla">
                <p>Pantallas</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#hardware">
                <img src="images/images_index/pc-tower.png" alt="Torre pc">
                <p>Chasis</p>
            </a>
        </div>
    </div>

    <!-------- SECCIÓN PRODUCTOS HOME -------->
    <section class="SseccionProductosHome">
        <h2>PRODUCTOS MÁS VENDIDOS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Suscipit iusto, nostrum, necessitatibus nihil quibusdam tempora esse sapiente velit temporibus 
        excepturi assumenda, neque vero expedita.</p>
    </section>

    <div class="SproductosDestacados">
        <% featured.forEach(featured => { %>
        <div class="Sproducto">
            <img src="/images/Productos/<%= featured.imagen1 %>" alt="<%=featured.nombre%>"/>
            <h4><%= featured.nombre%></h4>
            <p class="Sprecio"><%= featured.precio%></p>
            <!-- <a href=""><i class="fas fa-info-circle"></i> Más información</a> -->
        </div>
        <% }) %>
    </div>

    <div class="Sfondo">
        <p class="StituloFondo">CONOCE TODOS NUESTROS PRODUCTOS</p>
        <p class="StextoFondo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Asperiores expedita quam esse dolore fugit voluptatibus nam sint, 
            delectus rerum veniam officiis mollitia iste sapiente assumenda 
            facere ipsum sunt dignissimos ab?</p>
            <a href="/products"><i class="fas fa-info-circle"></i> Más información</a>
      </div>

    <!-------- PIE DE PAGINA -------->
    <%- include("./partials/footer.ejs")%>

</body>
</html>