<!DOCTYPE html>
<html lang="en">
    <!---head-->
    <%- include("./partials/head.ejs", {title:"Bienvenido a Global Tech", css:"/css/styles.css"})%>

<body>
    <!-------- MENU DE NAVEGACIÓN -------->
    <%- include("./partials/header.ejs")%>

    <!-------- REDES SOCIALES -------->
    <%- include("./partials/social.ejs")%>

    <!-------- SLIDE -------->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="images/images_index/slide-5.jpg" class="d-block w-100" alt="...">
              </div>
          <div class="carousel-item active">
            <img src="images/images_index/slide-4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/images_index/slide-2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/images_index/slide-3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/images_index/slide-1.jpg" class="d-block w-100" alt="...">
          </div>
          
        </div>
        
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

    <!-------- SECCIÓN PRINCIPAL -------->
    <section class="SseccionPrincipalHome">
        <h1><i class="fa-solid fa-gamepad-modern"></i> EXPLORAR PRODUCTOS </h1>
       <!--  <p>Estamos muy contentos de tenerte aquí, de que puedas explorar la amplia variedad de tecnología gamer 
            que tenemos para ti y por supuesto de que te sientas comodo y seguro al adquirir los productos que te haran 
            muy feliz. Esperamos que sea de gran agrado el recorrido por nuestra pagina.</p> -->
    </section>

    <!-------- SECCIÓN PRODUCTOS DESTACADOS -------->
    <div class="ScategoriasDestacadas">
        <div class="Scategoria">
            <a href="/products#perifericos">
                <img src="images/images_index/headset.png" alt="Icono perifericos">
                <p>Periféricos</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#portatiles">
                <img src="images/images_index/gaming.png" alt="Icono laptop">
                <p>Portatiles</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#hardware">
                <img src="images/images_index/graphic-card.png" alt="Tarjeta grafica">
                <p>GPU</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#perifericos">
                <img src="images/images_index/keyboard.png" alt="Teclado">
                <p>Teclados</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#consolas">
                <img src="images/images_index/console.png" alt="Consola">
                <p>Consolas</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#celulares">
                <img src="images/images_index/mobile-game.png" alt="Celular gamer">
                <p>Celulares</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#perifericos">
                <img src="images/images_index/Screen.png" alt="Pantalla">
                <p>Pantallas</p>
            </a>
        </div>
        <div class="Scategoria">
            <a href="/products#hardware">
                <img src="images/images_index/pc-tower.png" alt="Torre pc">
                <p>Chasis</p>
            </a>
        </div>
    </div>

    <!-------- SECCIÓN PRODUCTOS HOME -------->
    <section class="SseccionProductosHome">
        <h2>PRODUCTOS MÁS VENDIDOS</h2>
        <!-- <p>Para Global Tech es de suma importancia brindar una excelente experiencia a nuestros usuarios,
            incluso mientras se deleitan observando la gran cantidad de productos que podemos ofrecerles,
            por este motivo te mostramos a continuación los productos mas comprados por nuestros clientes.
        </p> -->
    </section>

    <div class="SproductosDestacados">
        <% featured.forEach(featured => { %>
        <div class="Sproducto">
            <a href="products">
            <img src="/images/Productos/<%= featured.imagen1 %>" alt="<%=featured.nombre%>">
            <h4><%= featured.nombre%></h4>
            <p class="Sprecio"><%= featured.precio%></p>
        </a>
            <!-- <a href=""><i class="fas fa-info-circle"></i> Más información</a> -->
        </div>
        <% }) %>
    </div>

    <div class="Sfondo">
        <p class="StituloFondo">CONOCE TODOS NUESTROS PRODUCTOS</p>
        <p class="StextoFondo">Si te ha gustado lo que has visto hasta el momento, no esperes más para entrar a nuestro
            catálogo de productos y visualizar la gran cantidad y categorías de artículos maravillosos que esperan por ti.
        </p>
            <a href="/products"><i class="fas fa-info-circle"></i> Más información</a>
      </div>

    <!-------- PIE DE PAGINA -------->
    <%- include("./partials/footer.ejs")%>

</body>
</html>