<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/login.css">
    <title>Iniciar Sesión</title>
</head>

<body>

<!-------- MENU DE NAVEGACIÓN -------->
<%- include("./partials/header.ejs")%>

<!-------- REDES SOCIALES -------->
<%- include("./partials/social.ejs")%>

<div class="box">
    <form action="/user/login" method="POST" id="userLoginForm">

        <h2>Iniciar Sesión</h2>

        <div class="inputBox">

            <input type="text" name="email" id="email"  placeholder="Email">
            <i></i>
        </div>
        <% if (locals.errors && errors.email) { %>
            <div class="jerrors">
             <%= errors.email.msg %> 
            </div>
        <% } %>

        <div class="inputBox">

            <input type="password"  name="contrasena" id="contrasena"  placeholder="Contraseña">
            <i></i>
            <!-- Validadores de error de campo -->
        </div>

        <% if (locals.errors && errors.contrasena) { %>
            <div class="jerrors">
             <%= errors.contrasena.msg %> 
            </div>
        <% } %>

        <div class="links">
            <a href="/user/register/"> ¿Aún no tiene una cuenta? </a>
            <a href="#"></a>
        </div>

        <div class="jRecuerdame">
            <input  class="jCheckbox" type="checkbox" name="jRecuerdame" id="jRecuerdame">Recuérdame
        </div>


        <button type="submit"> Ingresar </button>

    </form>
</div>

<script src="/js/loginFormValidator.js"></script>


<!-------- PIE DE PAGINAAAAA -------->

<%- include ("./partials/footer.ejs")%>

</body>

</html>