<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/login.css">
    <title>Iniciar Sesión</title>
</head>

<body>

<!-------- MENU DE NAVEGACIÓN -------->
<%- include("./partials/header.ejs")%>

<!-------- REDES SOCIALES -------->
<%- include("./partials/social.ejs")%>

<div class="jImagenFondo">
    <form action="/user/iniciarSesion" method="POST">
        <h3>Iniciar Sesión</h3>
        <div>
            <input placeholder="Email" type="text" name="email" id="Email">
            <% if (locals.errors && errors.email) { %>
                <div class="jerrors">
                 <%= errors.email.msg %> 
                </div>
            <% } %>
        </div>
        <div>
            <input placeholder="Contraseña" type="password" name="contrasena" id="Contraseña">
                <% if (locals.errors && errors.contrasena) { %>
                    <div class="jerrors">
                     <%= errors.contrasena.msg %> 
                    </div>
                <% } %>
        </div>
        <div class="jRecuerdame">
            <input  class="jCheckbox" type="checkbox" name="jRecuerdame" id="jRecuerdame">Recuérdame
        </div>

        <button type="submit">Iniciar Sesión</button>
        <p class="jNoCuenta"> <a href="/user/pruebaRegister">¿Aún no tiene una cuenta?</a>
        </p>
    </form>
</div>
<!-------- PIE DE PAGINAAAAA -------->

<%- include ("./partials/footer.ejs")%>

</body>

</html>