<!DOCTYPE html>
<html lang="en">
<!---head-->
<%- include("./partials/head.ejs", {title:"Iniciar Sesión", css:"/css/login.css"})%>


<body>

    <!-------- MENU DE NAVEGACIÓN -------->
    <%- include("./partials/header.ejs")%>

    <!-------- REDES SOCIALES -------->
    <%- include("./partials/social.ejs")%>

    <section class="Jbackground">

        <div class="box">
            <form action="/user/login" method="POST" id="userLoginForm">

            <div class="form">

                <h2>Iniciar Sesión</h2>

                <div hidden id="errorsDiv"></div>

                <div class="inputBox">
                    <input type="text" name="email" placeholder="Email" data-label="Email">
                    <i></i>
                </div>
                <% if (locals.errors && errors.email) { %>
                    <div class="jerrors">
                        <%= errors.email.msg %>
                    </div>
                <% } %>

                <div class="inputBox">
                    <input type="password" name="contrasena" placeholder="Contraseña" data-label="Contraseña">
                    <i></i>
                </div>
                <% if (locals.errors && errors.contrasena) { %>
                    <div class="jerrors">
                        <%= errors.contrasena.msg %>
                    </div>
                <% } %>

                <div class="links">
                    <input type="checkbox" name="jRecuerdame">
                    <p>Recuérdame</p>
                </div>

                <input type="submit" value="Ingresar"></input>

                <a class="unregistered" href="/user/register"> ¿Aún no tiene una cuenta? </a>

                </div>
            </form>
        </div>
    </section>

    <script src="/js/loginFormValidator.js"></script>

    <!-------- PIE DE PAGINAAAAA -------->

    <%- include ("./partials/footer.ejs")%>

</body>

</html>