<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/productList.css">
    <title>Listado de Productos</title>
</head>
<body>
     <!-------- MENU DE NAVEGACIÓN -------->
     <%- include("./partials/header.ejs")%>

     <!-------- REDES SOCIALES -------->
     <%- include("./partials/social.ejs")%>

     <div class="Mbanner">
        <img src="/images/bannerProductList/gameOver.jpg" alt="Banner Product List">
    </div>

    <!-- Categoría Consolas -->
     <section class="categories">
        <h2>Consolas de Video Juegos</h2>
        <p>Para aquellos que les encantan los video juegos, pero que no quieren gastar sumas astronómicas en set ups de escritorio o portátiles para video juegos, la opción que mas se adapta son las consolas, ya que ofrecen un excelente rendimiento por un menor precio, además, debemos tener en cuenta los juegos exclusivos de cada marca para sus consolas y así comprar la que mejor se acomode a nuestros gustos y presupuestos.</p>
    </section>

    <div class="Mproducts">
        <% consoles.forEach(consolesDescription => {%>
            <div class="MproductsDetail">
                <img src="/images/Productos/<%= consolesDescription.imagen1%>" alt="<%=consolesDescription.nombre%>"/>
                <h4><%= consolesDescription.nombre%></h4>
                <p><%= consolesDescription.precio%></p>
                <a href="/products/productDetail/<%= consolesDescription.nombre%>"><i class="fas fa-info-circle"></i> Más información</a>
            </div>
        <% }) %>
    </div>

        <!-- Categoría Periféricos y Accesorios -->

    <section class="categories" id="perifericos">
        <h2>Periféricos y Accesorios</h2>
        <p>Como si fuera poco, tenemos un amplio grupo de accesorios y periféricos, que se adaptan perfectamente a los diferentes productos y gustos del cliente que, además de volver mas fácil el uso de los equipos, también ayudan  a tener una mejor experiencia brindando entretenimiento y comodidad al usuario.</p>
    </section>

    <div class="Mproducts">
        <% accesories.forEach(accesoriesDescription => { %>
            <div class="MproductsDetail">
                <img src="/images/Productos/<%= accesoriesDescription.imagen1%>" alt="<%=accesoriesDescription.nombre%>"/>
                <h4><%= accesoriesDescription.nombre%></h4>
                <p><%= accesoriesDescription.precio%></p>
                <a href="/products/productDetail/<%= accesoriesDescription.nombre%>"><i class="fas fa-info-circle"></i> Más información</a>
            </div>
        <% }) %>
    </div>

     <!-- Categoría Portátiles Gamer -->

    <section class="categories">
        <h2>Portátiles Gamer</h2>
        <p>Los portátiles para video juegos combinan la potencia de las maquinas de escritorio con la movilidad de los equipos portátiles, ya no necesitas estar en casa en tu set up de escritorio, ahora puedes jugar y realizar tareas que precisen de un buen equipo desde cualquier lugar del mundo.</p>
    </section>

    <div class="Mproducts">
        <% laptopsGamers.forEach(laptopsGamersDescription => { %>
            <div class="MproductsDetail">
                <img src="/images/Productos/<%= laptopsGamersDescription.imagen1%>" alt="<%=laptopsGamersDescription.nombre%>"/>
                <h4><%= laptopsGamersDescription.nombre%></h4>
                <p><%= laptopsGamersDescription.precio%></p>
                <a href="/products/productDetail/<%= laptopsGamersDescription.nombre%>"><i class="fas fa-info-circle"></i> Más información</a>
            </div>
        <% }) %>
    </div>

    <!-- Categoría Hardware -->

    <section class="categories">
        <h2>Hardware</h2>
        <p> Tendremos todo tipo de componentes para que puedas personalizar tu computador de cualquier manera, nos enfocamos en equipos para diseño, modelado 3D, Videojuegos de última  generación, realidad aumentada, contamos con equipos de todas las gamas que se acomodan a todo tipo de presupuesto.</p>
    </section>
    <div class="Mproducts">
        <% hardware.forEach(hardwareDescription => { %>
            <div class="MproductsDetail">
                <img src="/images/Productos/<%=  hardwareDescription.imagen1%>" alt="<%= hardwareDescription.nombre%>"/>
                <h4><%=  hardwareDescription.nombre%></h4>
                <p><%=  hardwareDescription.precio%></p>
                <a href="/products/productDetail/<%=  hardwareDescription.nombre%>"><i class="fas fa-info-circle"></i> Más información</a>
            </div>
        <% }) %>
    </div>


     <!-- Categoría SmartPhones -->

    <section class="categories">
        <h2>SmartPhones Gamer</h2>
        <p> Aquellas personas que les gusta la portabilidad, la facilidad de llevar en cualquier momento un equipo potente y disfrutar de sus video juegos favoritos, tenemos una excelente gama de equipos celulares en los que, además de integrar las funcionalidades de un smartphone tradicional, contará con potencia y capacidad para soportar gran cantidad de títulos.</p>
    </section>

    <div class="Mproducts">
        <% smartPhones.forEach(smartPhonesDescription => { %>
            <div class="MproductsDetail">
                <img src="/images/Productos/<%= smartPhonesDescription.imagen1%>" alt="<%=smartPhonesDescription.nombre%>"/>
                <h4><%= smartPhonesDescription.nombre%></h4>
                <p><%= smartPhonesDescription.precio%></p>
                <a href="/products/productDetail/<%= smartPhonesDescription.nombre%>"><i class="fas fa-info-circle"></i> Más información</a>
            </div>
        <% }) %>
    </div>

       
    <!-------- PIE DE PAGINA -------->
    <%- include("./partials/footer.ejs")%>
</body>
</html>