<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <title><%= nombre%></title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- Menú de navegación -->
    <%- include("./partials/header.ejs")%>

    <!-- Redes sociales -->
    <%- include("./partials/social.ejs")%>

    <main>
        <div class="image">
            <img src="/images/image_productDescription/ps5.jpg" alt="Play Station 5">
        </div>

        <section class="container">

            <div class="productImage">
                <div class="bigImage">
                    <img src="/images/Productos/<%= imagen1%>" alt="<%= nombre%>">
                </div>        
                
                <div class="imageDescriptionContainer">
                    <div class="imageDescription">
                        <img src="/images/Productos/<%= imagen1%>" alt="<%= nombre%>">
                    </div>
                    <div class="imageDescription">
                        <img src="/images/Productos/<%= imagen2%>" alt="<%= nombre%>">
                    </div>
                    <div class="imageDescription">
                        <img src="/images/Productos/<%= imagen3%>" alt="<%= nombre%>">
                    </div>
                    <div class="imageDescription">
                        <img src="/images/Productos/<%= imagen4%>" alt="<%= nombre%>">
                    </div>
                </div>
            </div>

            <div class="productDescription">
                <div class="namePrice">
                    <p class="name"><%= nombre%></p>
                    <p><%= precio%></p>
                </div>

                <div class="colorMenu">
                    <div class="blockDescription">
                        <label for="color">Selecciona el color</label>
                        <select name="color" id="color">
                            <option value="vacio">...</option>
                            <option value="negro"><%= color1%></option>
                            <option value="blanco"><%= color2%></option>                            
                        </select>
                        <button class="cart">Añadir al Carrito</button>
                        <button class="buy">Comprar Ahora</button>
                    </div>    
                </div>

                <div class="textDescription">
                    <h3>Descripción del producto</h3><br>
                    <p><%= descripcion%></p>
                </div>
            </div>
                        
        </section>

        <div class="buttons">
            <form action="/products/productDetail/<%= nombre%>/editProducts" method="get">
                <input type="submit" name="edit" value="EDITAR PRODUCTO">
            </form>
            
            <form action="/products/<%= nombre%>?_method=DELETE" method="POST">
                <input type="submit" name="delete" value="ELIMINAR PRODUCTO">
            </form>
        
        </div>

    </main>

    <!-- PIE DE PAGINA -->

    <%- include("./partials/footer.ejs")%>

</body>
</html>