<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Favicon.png">
    <title>Mi perfil</title>
    <link rel="stylesheet" href="/css/userProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- Menú de navegación -->
    <%- include("./partials/header.ejs")%>

    <!-- Redes sociales -->
    <%- include("./partials/social.ejs")%>

<div class="MimagenFondo">
    
        <div class="Mperfil">
            <!---------Perfil-------->
            <div class="MperfilImg">
                <img src="/images/images_user/<%= usuario.imagen%>">
                <div class="MnombreUser">
                    <h3><%= usuario.nombreusuario %></h3>
                </div>
            </div>
           <hr>
                <div class="MprofileDescription">
                        <h4>MIS DATOS</h4>
                        <p><b>Nombre y apellido:</b> <%= usuario.nombre %> <%= usuario.apellido %></p>
                        <p><b>Nombre de usuario:</b> <%= usuario.nombreusuario %> </p>
                        <p><b>E-mail:</b> <%= usuario.email %> </p>
                        <p><b>País:</b> <%= usuario.pais %> </p>
                </div>
                <div class="Mbuttons">
                    <div class="MbuttonProfile">
                        <a href="/user/logout">Cerrar Sesión</a>
                    </div>
                <% if(locals.userLogged && locals.userLogged.rol === 1) {%>        
                    <div class="MbuttonProfile">
                        <a href="https://globaltech-dashboard.herokuapp.com/" target="_blank">Dashboard</a>
                    </div>
                <% }%>
                </div>
        </div>
</div>
       


    <!-- PIE DE PAGINA -->

    <%- include("./partials/footer.ejs")%>

</body>
</html>